<div class="group">
	<ul class="links font-xxs">
		<li><a href="#">BLOG+VIDEOS</a></li>
		<li><a href="#">SHOP</a></li>
		<li><a href="#">COMPANY</a></li>
		<li><a href="#">PRESS</a></li>
		<li><a href="#">JOBS</a></li>
		<li><a href="#">SUPPORT</a></li>
		<li><a href="#">LEGAL</a></li>
		<li><a href="#">CONTACT</a></li>
	</ul>

	<ul class="social font-xxs">
		<li><a href="#" ng-include="'images/fb.svg'"></a></li>
		<li><a href="#" ng-include="'images/tw.svg'"></a></li>
		<li><a href="#" ng-include="'images/gp.svg'"></a></li>
		<li><a href="#" ng-include="'images/pn.svg'"></a></li>
		<li><a href="#" ng-include="'images/in.svg'"></a></li>
		<li><a href="#" ng-include="'images/yt.svg'"></a></li>
	</ul>
</div>

<ul class="copyright font-xxs">
	<li>Copyright © iFit.com, All rights reserved.</li>
	<li>LANGUAGE ENGLISH</li>
</ul>