<div class="container">
	<div class="row">
		<div class="col-sm-12 title" >
			<p class="font-xl">Weight Loss</p>
			<p class="font-lg">Welcome to the center of it all. The Fitness Shop presents you with hundreds of workout programs designed to guide your weight loss journey.</p>
		</div>
		<div class="col-sm-12 cards">
			<card ng-repeat="card in cards track by $index" scope-data="item" class="col-sm-3"></card>
		</div>
		<div class="col-sm-12 view-more">
			<button class="btn-blue font-lg">VIEW MORE</button>
		</div>
	</div>
</div>